<template>
  <div>
    <h2>Add City</h2>
    <form @submit.prevent="addCity" class="city-form">
      <label for="cityName">City Name:</label>
      <input v-model="newCity" type="text" id="cityName" required>
      <button type="submit">Add</button>
    </form>

    <h2>City List</h2>
    <table>
      <thead>
        <tr>
          <th>City</th>
          <th>Temperature (°C)</th>
          <th>Max Temperature (°C)</th>
          <th>Min Temperature (°C)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(city, index) in cities" :key="index">
          <td>{{ city.name }}</td>
          <td>{{ city.temperature }}</td>
          <td>{{ city.maxTemperature }}</td>
          <td>{{ city.minTemperature }}</td>
          <td>
            <button @click="removeCity(index)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newCity: '',
      cities: []
    };
  },
  created() {
    const savedCities = JSON.parse(localStorage.getItem('cities')) || [];
    this.cities = savedCities;
    this.updateTemperatures(); // Оновлення температур при завантаженні сторінки
  },
  methods: {
    async addCity() {
      // Перевірка, чи місто вже існує
      const cityExists = this.cities.some(city => city.name.toLowerCase() === this.newCity.toLowerCase());
      if (cityExists) {
        alert('Це місто вже існує в списку.');
        return;
      }

      // Отримання температури для нового міста
      const temperatureData = await this.getTemperature(this.newCity);
      if (temperatureData !== null) {
        this.cities.push({
          name: this.newCity,
          temperature: temperatureData.temp,
          maxTemperature: temperatureData.max_temp,
          minTemperature: temperatureData.min_temp
        });
        localStorage.setItem('cities', JSON.stringify(this.cities));
        this.newCity = ''; // Очищення поля після додавання
      } else {
        alert('Не вдалося отримати температуру для цього міста.');
      }
    },
    removeCity(index) {
      this.cities.splice(index, 1);
      localStorage.setItem('cities', JSON.stringify(this.cities));
    },
    async getTemperature(cityName) {
      try {
        const apiKey = '47042a40e3d4a3d23e9af7388e1af447';
        const response = await fetch(`https://api.openweathermap.org/data/2.5/weather?q=${cityName}&appid=${apiKey}&units=metric`);
        const data = await response.json();
        return {
          temp: data.main.temp,
          max_temp: data.main.temp_max,
          min_temp: data.main.temp_min
        };
      } catch (error) {
        console.error('Помилка при отриманні температури', error);
        return null;
      }
    },
    async updateTemperatures() {
      for (const city of this.cities) {
        const temperatureData = await this.getTemperature(city.name);
        if (temperatureData !== null) {
          city.temperature = temperatureData.temp;
          city.maxTemperature = temperatureData.max_temp;
          city.minTemperature = temperatureData.min_temp;
        }
      }
      localStorage.setItem('cities', JSON.stringify(this.cities));
    }
  }
};
</script>

<style>
.city-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 20px;
}

.city-form label {
  margin-bottom: 5px;
}

.city-form input {
  padding: 8px;
  margin-bottom: 10px;
}

.city-form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.city-form button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
</style>
